@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600;700&family=Playfair+Display:wght@400;500;600;700&display=swap');

:root{
    --primary-font: 'Montserrat', sans-serif;
    --secondary-font: 'Playfair Display', serif;

    --medium : 20px;
    --large : 24px;
    --title : 42px;
}

body {
    /* padding: 100px; */
    background-color: rgb(231, 231, 231);
    font-family: var(--secondary-font);
}

/* HEADER */

header{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    font-size: var(--medium);
}

header h1{
    font-size: var(--title);
    font-weight: 700;
    text-shadow: 1px 2px 4px rgba(0, 0, 0, 0.56),-1px -2px 0px rgba(255, 255, 255, 1);
}

header p{
    margin: 0.2rem;
}

header a {
    text-decoration: none;
    color: black;
    transition: all 0.3s ease-in-out;
}

header a:hover{
    /* underline the text with delay*/
    text-decoration: underline;
    text-decoration-thickness: 2px;
    text-underline-offset: 5px;
    text-decoration-color: rgb(255, 255, 255);
    text-shadow: 1px 2px 4px rgba(0, 0, 0, 0.56),-1px -2px 0px rgba(255, 255, 255, 1);
}

.title img{
    width: 50px;
    height: 50px;
    margin: 0.5rem;
}

/* SECTION */

section {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.card {
    margin: 2rem;
    width: 400px;
    height: 500px;
    box-sizing: border-box;
    position: relative;
}
.card_wrapper {
    perspective: 600px;
    position: absolute;
    inset: 0;
}
.card_3d {
    transform: rotateY(var(--r-x)) rotateX(var(--r-y));
    position: absolute;
    inset: 0;
}
.card_image img {
    display: block;
    max-width: 100%;
    max-height: 100%;
}

.card_glare{
    position: absolute;
    inset: 0;
    z-index: 20;
    /* blend the element with the content of his parent */
    mix-blend-mode: soft-light;
    clip-path: inset(0 0 1px 0 round 48px);
    background: radial-gradient(
        farthest-corner circle at var(--x) var(--y),
        rgba(255, 255, 255, 0.8) 10%,
        rgba(255, 255, 255, 0.65) 30%,
        rgba(255, 255, 255, 0) 90%
    );
}

.card_shine{
    position: absolute;
    inset: 0;
    z-index: 30;
    overflow: hidden;
    opacity: 0.3;
    mix-blend-mode: color-dodge;
    background : transparent;
    background-blend-mode: 
    soft-light,
    hue,
    hard-light;
    clip-path: inset(0 0 1px 0 round 50px);
}


